@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

.wrapper {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #1bc47d;
}

.containerPersonJuridicial {
  width: 445px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

@media (max-width: 400px) {
  .containerPersonJuridicial {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .containerPersonJuridicial {
    width: 90%;
  }
}
@media (max-width: 1000px) {
  .containerPersonJuridicial {
    width: 90%;
  }
}
@media (max-width: 1050px) {
  .containerPersonJuridicial {
    width: 90%;
  }
}
@media (max-width: 1300px) {
  .containerPersonJuridicial {
    width: 90%;
  }
}


@media (max-width: 300px) {
  #pJ {
    font-size: 15px;
  }
  #pF {
    font-size: 15px;
  }
}


.child {
  width: 100px;
  margin-top: 15px;
}

#backButton {
  margin-left: 25px;
  font-size: 30px;
}

#etiquetaFisica {
  text-align: center;
  background-color: #1bc47d;
  width: 100px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.05);
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 29px;
}

.card-login {
  background-color: #fff;
  margin-top: 40%;
}

h1 {
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
}

#h1-feev-color {
  color: #1bc47d;
}

.form-control {
  padding: 20px;
  background-color: #f9f9f9;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.input-btn-login {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 47px;
  border: none;
  width: 100%;
  height: 3rem;
  background-color: #1bc47d;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 17px;
  line-height: 29px;
}

@media (width: 820px) {
  .card-login {
    position: relative;
    margin-left: -98%;
    width: 800px;
  }
}

@media (width: 768px) {
  .card-login {
    position: relative;
    margin-left: -80%;
    width: 700px;
  }
}

@media (width: 912px) {
  .card-login {
    width: 800px;
    margin-left: -250px;
  }
}

@media (width: 280px) {
  p {
    margin-top: 20px;
    font-size: 13px;
  }
}

@media (width: 1024) {
  .card-login {
    background-color: red;
  }
}

#etiquetaCadastro {
  text-align: left;
  color: #fff;
  background-color: #1bc47d;
  border-right: solid 1px rgba(0, 0, 0, 0.05);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  padding: 7px;
  padding-left: 15px;
  padding-right: 25px;



}
.person-container{
margin-top: -179px;
}
